body {
    font-family:'Trebuchet MS';
    margin: 0;
    padding: 0;
    background-color: #990011;
    color: #FCF6F5;
}
/* Header Styling Start */
header{
    color:#990011;
    background-color: #FCF6F5;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

#search-bar {
    font-family:'Trebuchet MS';
    font-size: 1.3rem;
    padding: 1rem 5rem;
    border-radius: 1.5rem;
    margin-right: 20rem;
    background-color:#FCF6F5;
    border-color: #990011;
    margin-top: 1.2rem;
}

#watchlist-btn {
    font-family:'Trebuchet MS';
    font-size: 1.3rem;
    background-color: #990011;
    color: #FCF6F5;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.logo{
    font-size: 2.5rem;
}
/* Header Styling End*/

/* Main Styling Start */
#featured-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 3rem;
    margin-top: 8rem;
    row-gap: 9rem;
    color: #FCF6F5;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 2rem;
}

.hero-h2{
    display: grid;
    justify-content: center;
    color: #FCF6F5;
    padding-top: 6rem;
    font-size: 2rem;
}

.movie {
    display: flex;
    border-radius: 1rem;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color:#FCF6F5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
    
}

.movie img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
}

.movie h3 {
    font-size: 1.4rem; /* Större text för titeln */
    margin: 0.7px 0 0.5rem; /* Marginal ovanför och under */
    color:#990011; /* Mörk textfärg */
}

.movie p {
    margin: 0.313rem 0; /* Marginal mellan paragrafer */
    font-size: 1.1rem; /* Mindre textstorlek för år och typ */
    color:#990011; /* Ljusare textfärg */
}






#movie-details {
    box-shadow: 0 4px 8px rgba(224, 184, 184, 0.2);
    border-radius: 8px;
    background-color:#FCF6F5;
    color:#990011;
}

#movie-details img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color:#990011;
    color:#FCF6F5;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 1.25rem;
    margin-bottom: 1rem;
    padding: 1rem 3rem;
}

button:hover {
    background-color:black;
    color:#FCF6F5;
}


.search-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#search-results {
    margin-left: 46.3rem;
    max-width: 24.5rem;
    max-height: 300px; /* Begränsa höjden så listan inte blir för lång */
    overflow-y: auto; /* Lägger till scroll om det behövs */
    border: solid #990011; /* Ger en snygg skuggeffekt */
    background-color: #FCF6F5;
    color: #990011;
}

.search-result-item {
    padding: 0.5rem;
    cursor: pointer;
    border-bottom: 0.25rem solid #990011;
}

.search-result-item:last-child {
    border-bottom: none;
}

.search-result-item:hover {
    background-color: black;
    color: #FCF6F5;
}